*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    padding: 50px 100px;
    letter-spacing: 0.2px;
    text-align: justify;
    background-color: #1B1B1B;
    color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
}

h2{padding-left: 50px;}

h3{padding-left: 100px;}

h4{padding-left: 150px;}

h5{padding-left: 200px;}

h6{padding-left: 250px;}

ul{
    margin-left: 20px;
}

.txt{
    background-color: #343434;
    color: #5865F2;
    padding: 5px;
    margin-top: 5px;
    width: max-content;
    border-radius: 5px;
    font-size: 16px;
    line-height: 25px;
}