*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #B1D2DB;
}

#body{
    background-color: #202020;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
