*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #CCCED0;
}

#body{
    background-color: #2F3136;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
