*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #B1D2DB;
}

#body{
    background-color: #202020;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#bar{
    width: 100%;
    margin: 50px auto;

    #title{
        margin-bottom: 10px;

        #select{
            background-color: #202020;
            padding: 3px 6px;
            border-radius: 3px;
            border-color: #B1D2DB;
        
            // .options{background-color: transparent;}
        
            &:hover{cursor: pointer;}
        }
    }    
}
